* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  width: 700px;
  margin: 20px auto;
  //border: 1px solid #888;
}

html {
  background: #fff;
}

img {
  border: 1px solid #000;
  margin-right: 15px;
  -mox-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
}

li a, .button {
  text-decoration: none;
  color: #cd2a00;
}

li a:hover, .button:hover {
  color: #000;
}

.logo {
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  padding-bottom: 2rem;
  background: url(../assets/icons/lobster.svg) no-repeat center right;
  background-size: contain;
  border-bottom: 2px solid #000;
  margin-bottom: 0;
}

.user {
  position: absolute;
  top: 120px;
}

.fieldname {
  width: 200px;
  height: 30px;
  margin: .5rem;
  font-size: 1rem;
  border-radius: 3px;
}

.submit {
  margin: 0;
  width: 100px;
  height: 2rem;
  font-size: 1rem;
}

.main {
  font-weight: 600;
  margin-top: 4rem;
  text-align: center;
}

.info {
  background: #ff0c38;
  color: #fff;
  border: 1px solid #cd2a00;
  padding: 5px 10px;
  margin-left: 40px;
}

.menu {
  padding: 0;
  margin: 0 auto;
}

.menu li, .button {
  display: inline;
  padding: 6px 10px;
  border: 1px solid #000;
  margin-right: 8px;
  border-radius: 30px;
}

ul {
  padding: 0;
  margin-bottom: 20px;
}

ul .member {
  display: block;
  margin: 0;
  border: none;
}

ul .friend {
  display: bloc;
  margin: 0;
  border: none;
}

.subhead {
  font-weight: bold;
}

.taken, .error {
  color: red;
  position: absolute;
  margin: 10px;
}

.available {
  color: green;
  position: absolute;
  margin: 10px;
}

.whisper {
  font-style: italic;
  color: #006600;
}
